00 14 * * * export PYTHONPATH=$PYTHONPATH:/usr/src/app/; /usr/local/bin/python3 /usr/src/app/main.py -L INFO -N $(cat /etc/antibody_ext_db_name | sed 's/\n//g') -U $(cat /etc/antibody_ext_db_user | sed 's/\n//g') -P \"$(cat /etc/antibody_ext_db_passwd | sed 's/\n//g')\" -H $(cat /etc/antibody_ext_db_host | sed 's/\n//g') -w $(cat /etc/antibody_ext_ssh_user | sed 's/\n//g') -z $(cat /etc/antibody_ext_ssh_passwd | sed 's/\n//g') -y $(cat /etc/antibody_ext_ssh_host | sed 's/\n//g') -d $(cat /etc/antibody_ext_from_date | sed 's/\n//g') >> /var/log/antibody_ext_pipeline.log 2>&1
00 18 * * WED export PYTHONPATH=$PYTHONPATH:/usr/src/app/; /usr/local/bin/python3 /usr/src/app/digest_email.py -L INFO -N $(cat /etc/antibody_ext_db_name | sed 's/\n//g') -U $(cat /etc/antibody_ext_db_user | sed 's/\n//g') -P \"$(cat /etc/antibody_ext_db_passwd | sed 's/\n//g')\" -H $(cat /etc/antibody_ext_db_host | sed 's/\n//g') -o $(cat /etc/antibody_ext_email_host | sed 's/\n//g') -r $(cat /etc/antibody_ext_email_port | sed 's/\n//g') -u $(cat /etc/antibody_ext_email_user | sed 's/\n//g') -p $(cat /etc/antibody_ext_email_passwd | sed 's/\n//g') -e $(cat /etc/antibody_ext_email_recipient | sed 's/\n//g') >> /var/log/antibody_ext_email_digest.log 2>&1